![](https://miro.medium.com/max/2460/1*LRD_hq6lX-D_BM4RJcRK8w.png)

## Questions to ponder when Pre-processing/Cleaning/ the Data
* Do I have the right index?
* Do we have missing values? Or null values? 
* Do we need to change any of our dtypes? 
* How about the column names? 
* Should we drop any columns? 
* Are there duplicates? 
* Check for outliers.

In [3]:
import pandas as pd
import numpy as np 
df = pd.read_csv('http://bit.ly/drinksbycountry')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [4]:
#Ignore me for now
df.replace(0, np.nan, inplace=True)

In [6]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,NaN,NaN,NaN,NaN,Asia
1,Albania,89.0,132.0,54.0,4.9,Europe
2,Algeria,25.0,NaN,14.0,0.7,Africa
3,Andorra,245.0,138.0,312.0,12.4,Europe
4,Angola,217.0,57.0,45.0,5.9,Africa

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   178 non-null float64
spirit_servings                 170 non-null float64
wine_servings                   162 non-null float64
total_litres_of_pure_alcohol    180 non-null float64
continent                       193 non-null object
dtypes: float64(4), object(2)
memory usage: 9.1+ KB

## Deal with null values 
- How many are there? 
- Should we delete them? Replace them? What should we replace them with? Mean or median or mode or zero?
- Maybe we should get rid of the entire column.

In [8]:
#isnull - how can we make this more helpful?
print(df.isnull().sum())

country                          0
beer_servings                   15
spirit_servings                 23
wine_servings                   31
total_litres_of_pure_alcohol    13
continent                        0
dtype: int64

In [11]:
#Lets view the rows with null values to gain more context
df[df.isna().any(axis=1)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,NaN,NaN,NaN,NaN,Asia
2,Algeria,25.0,NaN,14.0,0.7,Africa
13,Bangladesh,NaN,NaN,NaN,NaN,Asia
19,Bhutan,23.0,NaN,NaN,0.4,Asia
27,Burundi,88.0,NaN,NaN,6.3,Africa
40,Cook Islands,NaN,254.0,74.0,5.9,Oceania
46,North Korea,NaN,NaN,NaN,NaN,Asia
55,Equatorial Guinea,92.0,NaN,233.0,5.8,Africa
56,Eritrea,18.0,NaN,NaN,0.5,Africa
58,Ethiopia,20.0,3.0,NaN,0.7,Africa
63,Gambia,8.0,NaN,1.0,2.4,Africa
70,Guinea,9.0,NaN,2.0,0.2,Africa
77,India,9.0,114.0,NaN,2.2,Asia
78,Indonesia,5.0,1.0,NaN,0.1,Asia
79,Iran,NaN,NaN,NaN,NaN,Asia
80,Iraq,9.0,3.0,NaN,0.2,Asia
90,Kuwait,NaN,NaN,NaN,NaN,Asia
92,Laos,62.0,NaN,123.0,6.2,Asia
95,Lesotho,82.0,29.0,NaN,2.8,Africa
97,Libya,NaN,NaN,NaN,NaN,Africa
102,Malaysia,13.0,4.0,NaN,0.3,Asia
103,Maldives,NaN,NaN,NaN,NaN,Asia
106,Marshall Islands,NaN,NaN,NaN,NaN,Oceania
107,Mauritania,NaN,NaN,NaN,NaN,Africa
111,Monaco,NaN,NaN,NaN,NaN,Europe
116,Myanmar,5.0,1.0,NaN,0.1,Asia
118,Nauru,49.0,NaN,8.0,1.0,Oceania
119,Nepal,5.0,6.0,NaN,0.2,Asia
128,Pakistan,NaN,NaN,NaN,NaN,Asia
142,Rwanda,43.0,2.0,NaN,6.8,Africa
147,San Marino,NaN,NaN,NaN,NaN,Europe
149,Saudi Arabia,NaN,5.0,NaN,0.1,Asia
158,Somalia,NaN,NaN,NaN,NaN,Africa
161,Sri Lanka,16.0,104.0,NaN,2.2,Asia
162,Sudan,8.0,13.0,NaN,1.7,Africa
168,Tajikistan,2.0,15.0,NaN,0.3,Asia
179,Uganda,45.0,9.0,NaN,8.3,Africa
190,Yemen,6.0,NaN,NaN,0.1,Asia

_A DataFrame object has two axes: “axis 0” and “axis 1”. “axis 0” represents rows and “axis 1” represents columns._

### A couple ways to fill in values in an entire df

In [13]:
df.fillna(0, inplace=True)

In [14]:
print(df.isnull().sum())

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [ ]:
#df.replace(np.nan, 0, inplace=True)
#df['column_name'].replace({0: None})

## Changing the Index 
Index is like an address, that’s how any data point across the dataframe or series can be accessed. Rows and columns both have indexes, rows indices are called as index and for columns its general column names.

In [17]:
df['country'].nunique()

193

In [ ]:
df.drop_duplicates()

In [18]:
df.set_index('country', inplace=True) #another way to do this - add index_col to read_csv()

In [19]:
df.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0.0,0.0,0.0,0.0,Asia
Albania,89.0,132.0,54.0,4.9,Europe
Algeria,25.0,0.0,14.0,0.7,Africa
Andorra,245.0,138.0,312.0,12.4,Europe
Angola,217.0,57.0,45.0,5.9,Africa

In [21]:
# sort index based on ascending order
df['continent'].value_counts()

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

## Double check our data types
- object
- int64
- float64
- datetime64
- bool

In [ ]:
df.dtypes

In [ ]:
#df['column_name'].astype('int')

## Dropping columns and rows 
[Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)
- Pay attention to the index
- _Notice:_ Without inplace = True we are only returning a copy UNLESS we set the line = to the new df

In [ ]:
#df.drop(['column_name', 'column_name'], axis=1)
#df.drop(columns=['column_name', 'column_name'])

#df.drop([0,1])

## Lambda Functions 
A lambda function is a small anonymous function. Typically called a throw away function. 
A lambda function can take any number of arguments, but can only have one expression.

_lambda arguments : expression_

In [ ]:
def my_func(x): 
    return x

lambda x: x

In [ ]:
# Rename columns
df = df.rename(columns = lambda x: x.replace(" ", "_").lower())

## Groupby Function 
Used to split the data into groups based on some criteria.

> Table_name.groupby(['Group'])['Feature'].aggregation()

**Table_name**: this would be the name of the DataFrame, the source of the data you are working on.
<br>
**groupby:** the group by in Python is for sorting data based on different criteria. In this case, the condition is Group.
<br>
**Feature:** the part of the data or feature you want to be inserted in the computation.<br>
**aggregation():** the specific function name or aggregation you wish to execute with this operation.
- mean(): Compute mean of groups
- sum(): Compute sum of group values
- size(): Compute group sizes
- count(): Compute count of group
- std(): Standard deviation of groups
- var(): Compute variance of groups
- sem(): Standard error of the mean of groups
- describe(): Generates descriptive statistics
- first(): Compute first of group values
- last(): Compute last of group values
- nth() : Take nth value, or a subset if n is a list
- min(): Compute min of group values
- max(): Compute max of group values

In [ ]:
#whats the average beer_servings per continent?
df.groupby('continent').beer_servings.mean()

In [ ]:
#lets look at the descriptive stats for only wine servings and for all continents 
df.groupby("continent")["wine_servings"].describe()

## apply() , map() and applymap()

- apply() is used to apply a function along an axis of the DataFrame or on values of Series.
- applymap() is used to apply a function to a DataFrame elementwise.
- map() is used to substitute each value in a Series with another value.

![](https://miro.medium.com/max/1796/1*deCRAl5DuNZ1a0TNGKYrNQ.png)

In [ ]:
#map - best used for mapping strings into ints
df['num_cont'] = df['continent'].map({'Asia': 0, 'Europe': 1, })
df.head()

In [ ]:
#apply - applies a function to each element in a series or df. 
df.loc[:, ['beer_servings','wine_servings']].apply(np.argmax, axis=1)

In [15]:
#Exercise
#Drop all the rows with any zeros and compare the summary stats