# SQL - The Language of Databases

## Terminology 
- **Relational Database** -  a type of database that stores and provides access to data points that are related to one another(SQLite, MySQL(typically used in web application development), Postgres)
- **Non-relational Database** - (often called NoSQL databases) are different from traditional relational databases in that they store their data in a non-tabular form
    - **4 Major types:** 
        - **Document DBs** - stores data in documents similar to JSON objects(MongoDB) 
        - **Key/Value** - Useful for large databases that don’t need complex querying(Redis/DyanoDB)
        - **Wide-column** - Flexible b/c each row doesn’t need to have the same columns. Good for storing IOT/User profile data(Cassandra)
        - **Graph dbs** - good for pattern searches on social networks, fraud detection, recommendation systems - Neo4j 
- **Primary KEY** (like a DataFrame index), each table has one with a unique index for each row in the database. The name of the primary key is typically preceded by an asterix (\*).
- **Foreign KEY** - a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table. Used to prevent actions that would destroy table links
- **Rows** - Sometimes referred to as _records_. 
- **Columns** - Sometimes referred to as _fields_.
- **Schema** - Shows the structure of the database and how the tables are related to each other 
- **Char/Varchar** - string characters and variable length characters
- **One to One Relationship** - Typically used for security reasons - like a customers table and a personal information table. 
- **One to Many** - Most common relationship. 
    - Customers can make many orders.
    - Orders can contain many items.
    - Items can have short and long descriptions .
- **Many to Many** - Usually two one-to-many relationships with a table linking the two relationships.
    - each order can contain multiple items. And each item can also be in multiple orders.

## Table Relationships 
![](https://docs.oracle.com/cd/F49540_01/DOC/java.815/a64686/05_deva.gif)

![](https://www.softwareideas.net/i/DirectImage/1757/Food-Ordering-System--ER-Diagram-)

# <br>
<center><b><font size=150>Gotta SQL 'Em All</font></b></center>

<img src='images/pokemon_all.jpg'></img>

## <center><b>The Database</b></center>

<img src='images/schema.png'></img>

## Connecting to the database

In [ ]:
import sqlite3 
import pandas as pd

conn = sqlite3.Connection('data/pokedex.db')
cur = conn.cursor()

## Using SELECT

### Get a list of all Pokemon names

In [ ]:

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

Notice that each row is a Python ? and thus can only be indexed by the column index. However, PEP requires the column names (and other metadata) to be stored in the cursor description attribute. With that information, we can easily map column index to column name with that

## Using WHERE for filtering
It is used to extract only those records that fulfill a specified condition.

### Get the names of all Pokemon that have Water as their primary type (Type1)

In [ ]:

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

## Using ORDER BY
The ORDER BY keyword is used to sort the result-set in ascending or descending order.

The ORDER BY keyword sorts the records in ascending order by default. To sort the records in descending order, use the DESC keyword.

### Get the names and weights of each Pokemon from highest weight to lowest weight

In [ ]:

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

## Using LIMIT
LIMIT statement is used to retrieve records from one or more tables in a database and limit the number of records returned based on a limit value.

```
SELECT expressions
FROM tables
[WHERE conditions]
[ORDER BY expression [ ASC | DESC ]]
LIMIT number_rows [ OFFSET offset_value ];```

### Get the names and heights of the top 5 tallest Pokemon

In [ ]:

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

## Using GROUP BY
The SQL GROUP BY clause can be used in a SELECT statement to collect data across multiple records and group the results based on some aggregate function

```
SELECT expression1, expression2, ... expression_n, 
       aggregate_function (aggregate_expression)
FROM tables
[WHERE conditions]
GROUP BY expression1, expression2, ... expression_n
[ORDER BY expression [ ASC | DESC ]];```

### Get the type and average weight and height for each primary type

In [ ]:

df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

## Using JOIN
SQL Joins clause is used to combine records from two or more tables in a database. A JOIN is a means for combining fields from two tables by using values common to each.
```SELECT column-names
  FROM table-name1 JOIN table-name2 
    ON column-name1 = column-name2
 WHERE condition``` 
 
 ```SELECT column-names
  FROM table-name1 INNER JOIN table-name2 
    ON column-name1 = column-name2
 WHERE condition```
 
### Types of JOINS
- INNER JOIN − returns rows when there is a match in both tables.

- LEFT JOIN − returns all rows from the left table, even if there are no matches in the right table.

- RIGHT JOIN − returns all rows from the right table, even if there are no matches in the left table.

- FULL JOIN − returns rows when there is a match in one of the tables.
![](https://www.dofactory.com/img/sql/sql-joins.png)

_The difference between inner and full join is Inner join returns only the matching rows between both the tables, non-matching rows are eliminated. Full Join or Full Outer Join returns all rows from both the tables (left & right tables), including non-matching rows from both the tables_

### Create a table of move names, type, and type ID

In [ ]:

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

## Combining methods

### Find the two Pokemon types with the least weaknesses

In [ ]:
cur.execute('''
            SELECT identifier as type, COUNT(attacking_type) AS num_weaknesses
            FROM weaknesses
            JOIN types
            ON defending_type=id
            WHERE damage_factor=200
            GROUP BY defending_type
            ORDER BY num_weaknesses
            LIMIT 2
            ''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

### Find the top 5 Pokemon having the highest variety of move types.

In [ ]:
cur.execute('''
            SELECT name, COUNT(DISTINCT type_id) AS num_move_types
            FROM pokemon
            JOIN learned_moves
            ON id=pokemon_id
            GROUP BY name
            ORDER BY num_move_types DESC
            LIMIT 5
            ''')
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

### Get the names of all Pokemon who learn a super effective move against Water type Pokemon. Also include the name of one of these moves the Pokemon learns.

First, try using a subquery to get types super effective against water.

In [ ]:
cur.execute('''
            SELECT identifier as type
            FROM types
            JOIN weaknesses
            ON attacking_type=id
            WHERE defending_type IN (SELECT id FROM types WHERE identifier="water")
            AND damage_factor=200
            ''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

In [ ]:
cur.execute('''
            SELECT name, move
            FROM Pokemon p
            JOIN learned_moves m 
            ON p.id = pokemon_id
            JOIN types t
            ON type_id = t.id
            JOIN weaknesses
            ON attacking_type=t.id
            WHERE defending_type IN (SELECT id FROM types WHERE identifier="water")
            AND damage_factor=200
            GROUP BY name
            ''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

## INSERT

### <center>A new Pokemon was discovered! </center>

<img src='images/celebi.png'></img>

### Add Celebi to the database. Celebi is a Psychic and Grass type Pokemon who is 2 feet tall and weighs 11 pounds. Celebi is of the genus 'onion' and has a Pokedex ID of 251.

In [ ]:
cur.execute('''
            INSERT INTO pokemon (id, name, genus, height, weight, Type1, Type2)
            VALUES(251, 'Celebi', 'onion', 2, 11, 'Grass', 'Psychic')
            ''')
cur.execute('''
            SELECT *
            FROM pokemon
            WHERE name='Celebi'
            ''')
cur.fetchall()

In [ ]:
cur.execute('''
            DELETE
            FROM pokemon
            WHERE name='Celebi'
            ''')
cur.execute('''
            SELECT *
            FROM pokemon
            WHERE name='Celebi'
            ''')
cur.fetchall()

## Database Management

### Pokemon were recently discovered to have unique abilities. Add a new table to the database to store these abilties. Make sure to include the ability name, an ability ID, and a text description of the ability's effect.

<br>

#### Also, add the ability called Flash Fire. It should have an ID of 18 and has the effect "Immune to Fire type moves. Being attacked by a fire-type move increase the power of future Fire type attacks."

In [ ]:
cur.execute('''
            CREATE TABLE abilities(
            name TEXT,
            id INTEGER,
            effect TEXT
            )
            ''')

In [ ]:
cur.execute('''
            INSERT INTO abilities (name, id, effect)
            VALUES('Flash Fire', 18, "Immune to fire-type moves. Being attacked by a Fire type move increase the power of future fire-type attacks.")
            ''')

In [ ]:
cur.execute('''
            SELECT * FROM abilities
            ''')
cur.fetchall()

In [ ]:
cur.execute('''
            DROP TABLE abilities
            ''')
cur.execute('''
            SELECT * FROM abilities
            ''')
cur.fetchall()

## Challenge Activity

### <center>You're about to face gym leader Sabrina who has a team full of Psychic type Pokemon.

<img src='images/sabrina.png'></img>

### <center>Your team currently consists of a Hitmonchan and an Arbok, both of which are weak to Psychic type attacks and have no moves that will be super effective against Psychic Pokemon.

<img src='images/team.jpg'></img>

### <center>Assuming the highest level of Pokemon you could currently catch is 20, you want to find a Pokemon that has an attack which is super effective against Psychic type Pokemon with the highest possible power level. That Pokemon should also not be weak to Psychic type attacks.
### <center>Which Pokemon should you try and catch to defeat Sabrina?

#### Hints:
- Your answer should return the name of the Pokemon, the name of the move, the power of the move, and the level at which the Pokemon learns the move.
- If you need to compare text values and the columns do not have the same formatting (case-wise) you can use LOWER() to allow you to compare them.
- If you have two columns of the same name from two different tables, you have to specify which one you are going to use. For example - pokemon.id vs types.id