# The Data Science Way - CRISP-DM

![](https://www.kdnuggets.com/wp-content/uploads/crisp-dm-4-problems-fig1.png)

## What is Pandas?

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful.

Let's first import pandas as pd.

In [1]:
import pandas as pd

Now read in the heart dataset.

Pandas has many methods for reading different types of files! Note that here we have a .csv file.

Read about this dataset [here](https://www.kaggle.com/ronitf/heart-disease-uci).

Notice the name of the last column!

In [2]:
df = pd.read_csv('heart.csv')

We can import data from other locations like: 
* **Locally** - /Users/amberyandow/Downloads/data.csv
* **Remotely** - http://bit.ly/drinksbycountry

_Let's look at the documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)_

The output of the .read_csv() function is a pandas DataFrame, which has a familiar tabaular structure of rows and columns.

In [3]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3,1
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2,1
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,58,1,0,100,234,0,1,156,0,0.1,2,1,3,0
274,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
275,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
276,58,1,0,146,218,0,1,105,0,2.0,1,1,3,0
277,57,1,1,124,261,0,1,141,0,0.3,2,0,3,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
279,61,1,0,138,166,0,0,125,1,3.6,1,1,2,0
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1,0
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3,0
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2,0
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2,0
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

Two main types of pandas objects are the DataFrame and the Series, the latter being a single column––*plus the index*. **Index** is like an address, that’s how any data point across the dataframe or series can be accessed. Rows and columns both have indexes, rows indices are called as index and for columns its general column names.

Now, these column names just won't do... Let's change them!<Br/> 
_Note:_ Column names should **NOT** have any spaces and should be lowercased

In [4]:
df = df.rename(columns={"trestbps":"rest_bp", "thalach":"max_hr"})
df

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3,1
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2,1
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,58,1,0,100,234,0,1,156,0,0.1,2,1,3,0
274,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
275,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
276,58,1,0,146,218,0,1,105,0,2.0,1,1,3,0
277,57,1,1,124,261,0,1,141,0,0.3,2,0,3,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
279,61,1,0,138,166,0,0,125,1,3.6,1,1,2,0
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1,0
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3,0
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2,0
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2,0
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
#replace spaces with underscores
#df.columns = df.columns.str.replace(' ', '_')
#df.columns = df.colummns.str.lower()

How would we lowercase all of our column names?

## Methods for Learning more about the data

What does .head( ) do? What do you learn about the dataset by using it here?

In [5]:
df.head()

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

What about .tail( )? What about .info( ) and .describe( ) and .shape?

In [6]:
df.tail()

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age        303 non-null int64
sex        303 non-null int64
cp         303 non-null int64
rest_bp    303 non-null int64
chol       303 non-null int64
fbs        303 non-null int64
restecg    303 non-null int64
max_hr     303 non-null int64
exang      303 non-null int64
oldpeak    303 non-null float64
slope      303 non-null int64
ca         303 non-null int64
thal       303 non-null int64
target     303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [8]:
df.describe()

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
df.shape

(303, 14)

## Combining and Adding - DataFrames

Here are two rows that need to be added to the dataframe: What does this look like?

In [11]:
extra_rows = {'age': [40, 30], 'sex': [1, 0], 'cp': [0, 0], 'rest_bp': [120, 130],
              'chol': [240, 200],
             'fbs': [0, 0], 'restecg': [1, 0], 'max_hr': [120, 122], 'exang': [0, 1],
              'oldpeak': [0.1, 1.0], 'slope': [1, 1], 'ca': [0, 1], 'thal': [2, 3],
              'target': [0, 0]}
extra_rows

{'age': [40, 30],
 'sex': [1, 0],
 'cp': [0, 0],
 'rest_bp': [120, 130],
 'chol': [240, 200],
 'fbs': [0, 0],
 'restecg': [1, 0],
 'max_hr': [120, 122],
 'exang': [0, 1],
 'oldpeak': [0.1, 1.0],
 'slope': [1, 1],
 'ca': [0, 1],
 'thal': [2, 3],
 'target': [0, 0]}

**How can we add this to the bottom of our dataset?**

In [12]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.

extras = pd.DataFrame().from_dict(extra_rows)

In [13]:
extras

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target
0,40,1,0,120,240,0,1,120,0,0.1,1,0,2,0
1,30,0,0,130,200,0,0,122,1,1.0,1,1,3,0

In [14]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.

df_augmented = pd.concat([df, extras], ignore_index=True)

**Why did we need to ignore the index above?**

In [15]:
# Let's check the end to make sure we were successful!

df_augmented.tail()

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0
303,40,1,0,120,240,0,1,120,0,0.1,1,0,2,0
304,30,0,0,130,200,0,0,122,1,1.0,1,1,3,0

**Notice our target column has a bunch of zeros - that we can see - but there could be other values in that column, use .value_counts() to find out!**

In [16]:
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

When indexing a column you can use brackets OR a period - Which is better? 

**The case for bracket notation is simple: It always works.**

Here are the specific cases in which you must use bracket notation, because dot notation would fail:

**If column name includes a space**<br/>
df['col name']

**If column name matches a DataFrame method**<br/>
df['count']

**If column name matches a Python keyword**<br/>
df['class']

**If column name is stored in a variable**<br/>
var = 'col_name'<br/>
df[var]

**If column name is an integer**<br/>
df[0]

**If new column is created through assignment**<br/>
df['new'] = 0

**So why even consider dot notation?**

1. Dot notation is easier to type
2. Dot notation is easier to read
3. Dot notation limits the usage of brackets

## Creating and filtering Columns

Let's add a new column to our dataset called "test". Set all of its values to 0.

In [17]:
df['test'] = 0

I can also add columns whose values are functions of existing columns - this is refered to as **Feature Engineering**!

How could I add a column, called 'twice_age', that is double the age column?

In [18]:
df['twice_age'] = 2 * df['age']
df.head()

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target,test,twice_age
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,0,126
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,74
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0,82
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0,112
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0,114

We can use filtering techniques to see only certain rows of our data. If we wanted to see only the rows for patients 70 years of age or older, we can simply type:

In [21]:
df[df['age'] >= 70]

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target,test,twice_age
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1,0,142
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1,0,142
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2,1,0,148
144,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1,0,152
145,70,1,1,156,245,0,0,143,0,0.0,2,0,2,1,0,140
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1,0,142
225,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,0,140
234,70,1,0,130,322,0,0,109,0,2.4,1,3,2,0,0,140
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0,0,154
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3,0,0,140

Why do I need the _extra_ brackets above?

**USE** '&' for "and" and '|' for "or" when considering multiple conditions

In [22]:
# Display the patients who are 60 or over as well as the patients whose
# trestbps score is greater than 170.

df[(df['age'] >= 60) & (df['rest_bp'] > 170)]

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target,test,twice_age
110,64,0,0,180,325,0,1,154,1,0.0,2,0,2,1,0,128
203,68,1,2,180,274,1,0,150,1,1.6,1,0,3,0,0,136
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0,0,132

## .loc( ) and .iloc( )

![](https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/10/Pandas-selections-and-indexing.png)

In [23]:
#returns the whole 4th row of the df 
df.iloc[3]

age           56.0
sex            1.0
cp             1.0
rest_bp      120.0
chol         236.0
fbs            0.0
restecg        1.0
max_hr       178.0
exang          0.0
oldpeak        0.8
slope          2.0
ca             0.0
thal           2.0
target         1.0
test           0.0
twice_age    112.0
Name: 3, dtype: float64

In [24]:
#returns rows 5-7
df.iloc[5:8]

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target,test,twice_age
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1,0,114
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1,0,112
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1,0,88

In [25]:
#returns COLUMNS 3-6
df.iloc[:, 3:7]

     rest_bp  chol  fbs  restecg
0        145   233    1        0
1        130   250    0        1
2        130   204    0        0
3        120   236    0        1
4        120   354    0        1
5        140   192    0        1
6        140   294    0        0
7        120   263    0        1
8        172   199    1        1
9        150   168    0        1
10       140   239    0        1
11       130   275    0        1
12       130   266    0        1
13       110   211    0        0
14       150   283    1        0
15       120   219    0        1
16       120   340    0        1
17       150   226    0        1
18       150   247    0        1
19       140   239    0        1
20       135   234    0        1
21       130   233    0        1
22       140   226    0        1
23       150   243    1        1
24       140   199    0        1
25       160   302    0        1
26       150   212    1        1
27       110   175    0        1
28       140   417    1        0
29       130   197    1        0
..       ...   ...  ...      ...
273      100   234    0        1
274      110   275    0        0
275      125   212    0        1
276      146   218    0        1
277      124   261    0        1
278      136   319    1        0
279      138   166    0        0
280      136   315    0        1
281      128   204    1        1
282      126   218    1        1
283      152   223    0        1
284      140   207    0        0
285      140   311    0        1
286      134   204    0        1
287      154   232    0        0
288      110   335    0        1
289      128   205    0        2
290      148   203    0        1
291      114   318    0        2
292      170   225    1        0
293      152   212    0        0
294      120   169    0        1
295      140   187    0        0
296      124   197    0        1
297      164   176    1        0
298      140   241    0        1
299      110   264    0        1
300      144   193    1        1
301      130   131    0        1
302      130   236    0        0

[303 rows x 4 columns]

In [ ]:
#YOU TRY: return rows 5-9 AND columns 3-8

In [26]:
#returns rows 7-15 the age column
df.loc[7:16, "age"]

7     44
8     52
9     57
10    54
11    48
12    49
13    64
14    58
15    50
16    58
Name: age, dtype: int64

In [28]:
#returns a NEW df that only contains persons under 45
df_under45 = df.loc[df['age']<45]

In [29]:
df_under45

,age,sex,cp,rest_bp,chol,fbs,restecg,max_hr,exang,oldpeak,slope,ca,thal,target,test,twice_age
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,74
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0,82
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1,0,88
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1,0,86
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1,0,88
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1,0,84
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1,0,80
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2,1,0,82
32,44,1,1,130,219,0,0,188,0,0.0,2,0,2,1,0,88
44,39,1,2,140,321,0,0,182,0,0.0,2,0,2,1,0,78
46,44,1,2,140,235,0,0,180,0,0.0,2,0,2,1,0,88
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1,0,88
58,34,1,3,118,182,0,0,174,0,0.0,2,0,2,1,0,68
63,41,1,1,135,203,0,1,132,0,0.0,1,0,1,1,0,82
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1,0,70
68,44,1,1,120,220,0,1,170,0,0.0,2,0,2,1,0,88
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1,0,58
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2,1,0,86
80,41,1,2,112,250,0,1,179,0,0.0,2,0,2,1,0,82
84,42,0,0,102,265,0,0,122,0,0.6,1,0,2,1,0,84
98,43,1,2,130,315,0,1,162,0,1.9,2,1,2,1,0,86
100,42,1,3,148,244,0,0,178,0,0.8,2,2,2,1,0,84
103,42,1,2,120,240,1,1,194,0,0.8,0,0,3,1,0,84
113,43,1,0,110,211,0,1,161,0,0.0,2,0,3,1,0,86
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2,1,0,74
116,41,1,2,130,214,0,0,168,0,2.0,1,0,2,1,0,82
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2,1,0,82
124,39,0,2,94,199,0,1,179,0,0.0,2,0,2,1,0,78
125,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1,0,68
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2,1,0,84
133,41,1,1,110,235,0,1,153,0,0.0,2,0,2,1,0,82
134,41,0,1,126,306,0,1,163,0,0.0,2,0,2,1,0,82
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2,1,0,86
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1,0,84
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2,1,0,88
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2,1,0,88
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2,1,0,84
154,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1,0,78
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2,1,0,70
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1,0,82
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1,0,76
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1,0,76
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3,0,0,80
178,43,1,0,120,177,0,0,120,1,2.5,1,0,3,0,0,86
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2,0,0,88
189,41,1,0,110,172,0,0,158,0,0.0,2,0,3,0,0,82
200,44,1,0,110,197,0,0,177,0,0.0,2,1,2,0,0,88
212,39,1,0,118,219,0,1,140,0,1.2,1,0,3,0,0,78
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0,0,86
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3,0,0,70
239,35,1,0,126,282,0,0,156,1,0.0,2,0,3,0,0,70
251,43,1,0,132,247,1,0,143,1,0.1,1,4,3,0,0,86
259,38,1,3,120,231,0,1,182,1,3.8,1,0,3,0,0,76
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0,0,84
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3,0,0,80
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0,0,88

**We can also use .loc to change values in the df or create new columns or return booleans**