![](https://miro.medium.com/max/2460/1*LRD_hq6lX-D_BM4RJcRK8w.png)

## Questions to ponder when Pre-processing/Cleaning/ the Data
* Do I have the right index?
* Do we have missing values? Or null values? 
* Do we need to change any of our dtypes? 
* How about the column names? 
* Should we drop any columns? 
* Are there duplicates? 
* Check for outliers.

In [1]:
import pandas as pd
import numpy as np 
df = pd.read_csv('http://bit.ly/drinksbycountry')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [2]:
#Ignore me for now
df.replace(0, np.nan, inplace=True)

In [3]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,NaN,NaN,NaN,NaN,Asia
1,Albania,89.0,132.0,54.0,4.9,Europe
2,Algeria,25.0,NaN,14.0,0.7,Africa
3,Andorra,245.0,138.0,312.0,12.4,Europe
4,Angola,217.0,57.0,45.0,5.9,Africa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   178 non-null float64
spirit_servings                 170 non-null float64
wine_servings                   162 non-null float64
total_litres_of_pure_alcohol    180 non-null float64
continent                       193 non-null object
dtypes: float64(4), object(2)
memory usage: 9.1+ KB

## Deal with null values 
- How many are there? 
- Should we delete them? Replace them? What should we replace them with? Mean or median or mode or zero?
- Maybe we should get rid of the entire column.

In [5]:
#isnull - how can we make this more helpful?
print(df.isnull().sum())

country                          0
beer_servings                   15
spirit_servings                 23
wine_servings                   31
total_litres_of_pure_alcohol    13
continent                        0
dtype: int64

In [6]:
#Lets view the rows with null values to gain more context
df[df.isna().any(axis=1)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,NaN,NaN,NaN,NaN,Asia
2,Algeria,25.0,NaN,14.0,0.7,Africa
13,Bangladesh,NaN,NaN,NaN,NaN,Asia
19,Bhutan,23.0,NaN,NaN,0.4,Asia
27,Burundi,88.0,NaN,NaN,6.3,Africa
40,Cook Islands,NaN,254.0,74.0,5.9,Oceania
46,North Korea,NaN,NaN,NaN,NaN,Asia
55,Equatorial Guinea,92.0,NaN,233.0,5.8,Africa
56,Eritrea,18.0,NaN,NaN,0.5,Africa
58,Ethiopia,20.0,3.0,NaN,0.7,Africa
63,Gambia,8.0,NaN,1.0,2.4,Africa
70,Guinea,9.0,NaN,2.0,0.2,Africa
77,India,9.0,114.0,NaN,2.2,Asia
78,Indonesia,5.0,1.0,NaN,0.1,Asia
79,Iran,NaN,NaN,NaN,NaN,Asia
80,Iraq,9.0,3.0,NaN,0.2,Asia
90,Kuwait,NaN,NaN,NaN,NaN,Asia
92,Laos,62.0,NaN,123.0,6.2,Asia
95,Lesotho,82.0,29.0,NaN,2.8,Africa
97,Libya,NaN,NaN,NaN,NaN,Africa
102,Malaysia,13.0,4.0,NaN,0.3,Asia
103,Maldives,NaN,NaN,NaN,NaN,Asia
106,Marshall Islands,NaN,NaN,NaN,NaN,Oceania
107,Mauritania,NaN,NaN,NaN,NaN,Africa
111,Monaco,NaN,NaN,NaN,NaN,Europe
116,Myanmar,5.0,1.0,NaN,0.1,Asia
118,Nauru,49.0,NaN,8.0,1.0,Oceania
119,Nepal,5.0,6.0,NaN,0.2,Asia
128,Pakistan,NaN,NaN,NaN,NaN,Asia
142,Rwanda,43.0,2.0,NaN,6.8,Africa
147,San Marino,NaN,NaN,NaN,NaN,Europe
149,Saudi Arabia,NaN,5.0,NaN,0.1,Asia
158,Somalia,NaN,NaN,NaN,NaN,Africa
161,Sri Lanka,16.0,104.0,NaN,2.2,Asia
162,Sudan,8.0,13.0,NaN,1.7,Africa
168,Tajikistan,2.0,15.0,NaN,0.3,Asia
179,Uganda,45.0,9.0,NaN,8.3,Africa
190,Yemen,6.0,NaN,NaN,0.1,Asia

_A DataFrame object has two axes: “axis 0” and “axis 1”. “axis 0” represents rows and “axis 1” represents columns._

### A couple ways to fill in values in an entire df

In [7]:
df.fillna(0, inplace=True)

In [8]:
print(df.isnull().sum())

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [9]:
#df.replace(np.nan, 0, inplace=True)
#df['column_name'].replace({0: None})

## Changing the Index 
Index is like an address, that’s how any data point across the dataframe or series can be accessed. Rows and columns both have indexes, rows indices are called as index and for columns its general column names.

In [10]:
df['country'].nunique()

193

In [11]:
df.drop_duplicates()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0.0,0.0,0.0,0.0,Asia
1,Albania,89.0,132.0,54.0,4.9,Europe
2,Algeria,25.0,0.0,14.0,0.7,Africa
3,Andorra,245.0,138.0,312.0,12.4,Europe
4,Angola,217.0,57.0,45.0,5.9,Africa
5,Antigua & Barbuda,102.0,128.0,45.0,4.9,North America
6,Argentina,193.0,25.0,221.0,8.3,South America
7,Armenia,21.0,179.0,11.0,3.8,Europe
8,Australia,261.0,72.0,212.0,10.4,Oceania
9,Austria,279.0,75.0,191.0,9.7,Europe
10,Azerbaijan,21.0,46.0,5.0,1.3,Europe
11,Bahamas,122.0,176.0,51.0,6.3,North America
12,Bahrain,42.0,63.0,7.0,2.0,Asia
13,Bangladesh,0.0,0.0,0.0,0.0,Asia
14,Barbados,143.0,173.0,36.0,6.3,North America
15,Belarus,142.0,373.0,42.0,14.4,Europe
16,Belgium,295.0,84.0,212.0,10.5,Europe
17,Belize,263.0,114.0,8.0,6.8,North America
18,Benin,34.0,4.0,13.0,1.1,Africa
19,Bhutan,23.0,0.0,0.0,0.4,Asia
20,Bolivia,167.0,41.0,8.0,3.8,South America
21,Bosnia-Herzegovina,76.0,173.0,8.0,4.6,Europe
22,Botswana,173.0,35.0,35.0,5.4,Africa
23,Brazil,245.0,145.0,16.0,7.2,South America
24,Brunei,31.0,2.0,1.0,0.6,Asia
25,Bulgaria,231.0,252.0,94.0,10.3,Europe
26,Burkina Faso,25.0,7.0,7.0,4.3,Africa
27,Burundi,88.0,0.0,0.0,6.3,Africa
28,Cote d'Ivoire,37.0,1.0,7.0,4.0,Africa
29,Cabo Verde,144.0,56.0,16.0,4.0,Africa
...,...,...,...,...,...,...
163,Suriname,128.0,178.0,7.0,5.6,South America
164,Swaziland,90.0,2.0,2.0,4.7,Africa
165,Sweden,152.0,60.0,186.0,7.2,Europe
166,Switzerland,185.0,100.0,280.0,10.2,Europe
167,Syria,5.0,35.0,16.0,1.0,Asia
168,Tajikistan,2.0,15.0,0.0,0.3,Asia
169,Thailand,99.0,258.0,1.0,6.4,Asia
170,Macedonia,106.0,27.0,86.0,3.9,Europe
171,Timor-Leste,1.0,1.0,4.0,0.1,Asia
172,Togo,36.0,2.0,19.0,1.3,Africa
173,Tonga,36.0,21.0,5.0,1.1,Oceania
174,Trinidad & Tobago,197.0,156.0,7.0,6.4,North America
175,Tunisia,51.0,3.0,20.0,1.3,Africa
176,Turkey,51.0,22.0,7.0,1.4,Asia
177,Turkmenistan,19.0,71.0,32.0,2.2,Asia
178,Tuvalu,6.0,41.0,9.0,1.0,Oceania
179,Uganda,45.0,9.0,0.0,8.3,Africa
180,Ukraine,206.0,237.0,45.0,8.9,Europe
181,United Arab Emirates,16.0,135.0,5.0,2.8,Asia
182,United Kingdom,219.0,126.0,195.0,10.4,Europe
183,Tanzania,36.0,6.0,1.0,5.7,Africa
184,USA,249.0,158.0,84.0,8.7,North America
185,Uruguay,115.0,35.0,220.0,6.6,South America
186,Uzbekistan,25.0,101.0,8.0,2.4,Asia
187,Vanuatu,21.0,18.0,11.0,0.9,Oceania
188,Venezuela,333.0,100.0,3.0,7.7,South America
189,Vietnam,111.0,2.0,1.0,2.0,Asia
190,Yemen,6.0,0.0,0.0,0.1,Asia
191,Zambia,32.0,19.0,4.0,2.5,Africa
192,Zimbabwe,64.0,18.0,4.0,4.7,Africa

In [12]:
df.set_index('country', inplace=True) #another way to do this - add index_col to read_csv()

In [13]:
df.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0.0,0.0,0.0,0.0,Asia
Albania,89.0,132.0,54.0,4.9,Europe
Algeria,25.0,0.0,14.0,0.7,Africa
Andorra,245.0,138.0,312.0,12.4,Europe
Angola,217.0,57.0,45.0,5.9,Africa

In [14]:
# sort index based on ascending order
df['continent'].value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [15]:
df.dtypes

beer_servings                   float64
spirit_servings                 float64
wine_servings                   float64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [16]:
#df['column_name'].astype('int')

## Dropping columns and rows 
[Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)
- Pay attention to the index
- _Notice:_ Without inplace = True we are only returning a copy UNLESS we set the line = to the new df

In [17]:
#df.drop(['column_name', 'column_name'], axis=1)
#df.drop(columns=['column_name', 'column_name'])

#df['country'].drop()

## Lambda Functions 
A lambda function is a small anonymous function. Typically called a throw away function. 
A lambda function can take any number of arguments, but can only have one expression.

_lambda arguments : expression_

In [18]:
def my_func(x): 
    return x

lambda x: x

In [19]:
# Rename columns
df = df.rename(columns = lambda x: x.replace(" ", "_").lower())

## Groupby Function 
Used to split the data into groups based on some criteria.

> Table_name.groupby(['Group'])['Feature'].aggregation()

**Table_name**: this would be the name of the DataFrame, the source of the data you are working on.
<br>
**groupby:** the group by in Python is for sorting data based on different criteria. In this case, the condition is Group.
<br>
**Feature:** the part of the data or feature you want to be inserted in the computation.<br>
**aggregation():** the specific function name or aggregation you wish to execute with this operation.
- mean(): Compute mean of groups
- sum(): Compute sum of group values
- size(): Compute group sizes
- count(): Compute count of group
- std(): Standard deviation of groups
- var(): Compute variance of groups
- sem(): Standard error of the mean of groups
- describe(): Generates descriptive statistics
- first(): Compute first of group values
- last(): Compute last of group values
- nth() : Take nth value, or a subset if n is a list
- min(): Compute min of group values
- max(): Compute max of group values

In [20]:
#whats the average beer_servings per continent?
df.groupby('continent').beer_servings.mean().round()

continent
Africa            61.0
Asia              37.0
Europe           194.0
North America    145.0
Oceania           90.0
South America    175.0
Name: beer_servings, dtype: float64

In [21]:
#lets look at the descriptive stats for only wine servings and for all continents 
df.groupby("continent")["wine_servings"].describe()

               count        mean        std  min   25%    50%     75%    max
continent
Africa          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
Asia            44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
Europe          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
North America   23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
Oceania         16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
South America   12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

## apply() , map() and applymap()

- apply() is used to apply a function along an axis of the DataFrame or on values of Series.
- applymap() is used to apply a function to a DataFrame elementwise.
- map() is used to substitute each value in a Series with another value.

![](https://miro.medium.com/max/1796/1*deCRAl5DuNZ1a0TNGKYrNQ.png)

In [22]:
#map - best used for mapping strings into ints
df['num_cont'] = df['continent'].map({'Asia': 0, 'Europe': 1, })
df.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,num_cont
country,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,Asia,0.0
Albania,89.0,132.0,54.0,4.9,Europe,1.0
Algeria,25.0,0.0,14.0,0.7,Africa,NaN
Andorra,245.0,138.0,312.0,12.4,Europe,1.0
Angola,217.0,57.0,45.0,5.9,Africa,NaN

In [23]:
#apply - applies a function to each element in a series or df. 
df.loc[:, ['wine_servings', 'beer_servings']].apply(np.argmax)

/Users/amberyandow/anaconda3/envs/learn-env/lib/python3.6/site-packages/numpy/core/fromnumeric.py:56: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  return getattr(obj, method)(*args, **kwds)

wine_servings     France
beer_servings    Namibia
dtype: object

In [24]:
#Exercise
#Drop all the rows with any zeros and compare the summary stats 
df.replace(0, np.nan, inplace=True)

In [25]:
df.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,num_cont
country,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,Asia,NaN
Albania,89.0,132.0,54.0,4.9,Europe,1.0
Algeria,25.0,NaN,14.0,0.7,Africa,NaN
Andorra,245.0,138.0,312.0,12.4,Europe,1.0
Angola,217.0,57.0,45.0,5.9,Africa,NaN

In [26]:
df.dropna(inplace=True)
df.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,num_cont
country,,,,,,
Albania,89.0,132.0,54.0,4.9,Europe,1.0
Andorra,245.0,138.0,312.0,12.4,Europe,1.0
Armenia,21.0,179.0,11.0,3.8,Europe,1.0
Austria,279.0,75.0,191.0,9.7,Europe,1.0
Azerbaijan,21.0,46.0,5.0,1.3,Europe,1.0

In [27]:
df.shape

(43, 6)

In [28]:
df.groupby("continent")["wine_servings"].describe()

           count        mean        std  min   25%    50%    75%    max
continent
Europe      43.0  148.837209  94.524859  5.0  70.0  129.0  203.5  370.0