![](https://miro.medium.com/max/2460/1*LRD_hq6lX-D_BM4RJcRK8w.png)

## Questions to ponder when Pre-processing/Cleaning/ the Data
* Do I have the right index?
* Do we have missing values? Or null values? 
* Do we need to change any of our dtypes? 
* How about the column names? 
* Should we drop any columns? 
* Are there duplicates? 
* Check for outliers.

In [ ]:
import pandas as pd
import numpy as np 
df = pd.read_csv('http://bit.ly/drinksbycountry')
df.head()

In [ ]:
#Ignore me for now
df.replace(0, np.nan, inplace=True)

In [ ]:
df.info()

## Deal with null values 
- How many are there? 
- Should we delete them? Replace them? What should we replace them with? Mean or median or mode or zero?
- Maybe we should get rid of the entire column.

In [ ]:
#isnull - how can we make this more helpful?
print(df.isnull())

In [ ]:
#Lets view the rows with null values to gain more context
df[df.isna().any(axis=1)]

_A DataFrame object has two axes: “axis 0” and “axis 1”. “axis 0” represents rows and “axis 1” represents columns._

### A couple ways to fill in values in an entire df

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
print(df.isnull().sum())

In [ ]:
#df.replace(np.nan, 0, inplace=True)
#df['column_name'].replace({0: None})

## Changing the Index 
Index is like an address, that’s how any data point across the dataframe or series can be accessed. Rows and columns both have indexes, rows indices are called as index and for columns its general column names.

In [ ]:
df['country'].nunique()

In [ ]:
df.set_index('country', inplace=True) #another way to do this - add index_col to read_csv()

In [ ]:
# sort index based on ascending order
df.continent.value_counts().sort_index()

## Double check our data types
- object
- int64
- float64
- datetime64
- bool

In [ ]:
df.dtypes

In [ ]:
#df['column_name'].astype('int')

## Dropping columns and rows 
[Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)
- Pay attention to the index
- _Notice:_ Without inplace = True we are only returning a copy UNLESS we set the line = to the new df

In [ ]:
#df.drop(['column_name', 'column_name'], axis=1)
#df.drop(columns=['column_name', 'column_name'])

#df.drop([0,1])

## Lambda Functions 
A lambda function is a small anonymous function. Typically called a throw away function. 
A lambda function can take any number of arguments, but can only have one expression.

_lambda arguments : expression_

In [ ]:
def my_func(x): 
    return x

lambda x: x

In [ ]:
# Rename columns
df = df.rename(columns = lambda x: x.replace(" ", "_").lower())

## Groupby Function 
Used to split the data into groups based on some criteria.

> Table_name.groupby(['Group'])['Feature'].aggregation()

**Table_name**: this would be the name of the DataFrame, the source of the data you are working on.
<br>
**groupby:** the group by in Python is for sorting data based on different criteria. In this case, the condition is Group.
<br>
**Feature:** the part of the data or feature you want to be inserted in the computation.<br>
**aggregation():** the specific function name or aggregation you wish to execute with this operation.
- mean(): Compute mean of groups
- sum(): Compute sum of group values
- size(): Compute group sizes
- count(): Compute count of group
- std(): Standard deviation of groups
- var(): Compute variance of groups
- sem(): Standard error of the mean of groups
- describe(): Generates descriptive statistics
- first(): Compute first of group values
- last(): Compute last of group values
- nth() : Take nth value, or a subset if n is a list
- min(): Compute min of group values
- max(): Compute max of group values

In [ ]:
#whats the average beer_servings per continent?
df.groupby('continent').beer_servings.mean()

In [ ]:
#lets look at the descriptive stats for only wine servings and for all continents 
df.groupby("continent")["wine_servings"].describe()

## apply() , map() and applymap()

- apply() is used to apply a function along an axis of the DataFrame or on values of Series.
- applymap() is used to apply a function to a DataFrame elementwise.
- map() is used to substitute each value in a Series with another value.

![](https://miro.medium.com/max/1796/1*deCRAl5DuNZ1a0TNGKYrNQ.png)

In [ ]:
#map - best used for mapping strings into ints
df['num_cont'] = df['continent'].map({'Asia': 0, 'Europe': 1, })
df.head()

In [ ]:
#apply - applies a function to each element in a series or df. 
df.loc[:, ['beer_servings','wine_servings']].apply(np.argmax, axis=1)